#데이터 결합

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 제공 - codepresso
url =  'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/python-data-analysis/bike_station_2101.csv'

In [3]:
data = pd.read_csv(url,encoding="cp949")

In [4]:
data.head()

   대여소\n번호    보관소(대여소)명 소재지(위치)  ...    설치형태 Unnamed: 8 운영\n방식
0      NaN          NaN     NaN  ...     LCD         QR    NaN
1      NaN          NaN     자치구  ...     NaN        NaN    NaN
2      NaN          NaN     NaN  ...  거치\n대수     거치\n대수    NaN
3      NaN          NaN     NaN  ...     NaN        NaN    NaN
4    301.0  경복궁역 7번출구 앞     종로구  ...      16        NaN    LCD

[5 rows x 10 columns]

In [5]:
data.columns

Index(['대여소\n번호', '보관소(대여소)명', '소재지(위치)', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '설치\n시기', '설치형태', 'Unnamed: 8', '운영\n방식'],
      dtype='object')

In [6]:
# 슬라이싱을 이용한 필요한 column 만 출력하기
data.drop(['설치\n시기','설치형태','Unnamed: 8','운영\n방식'],axis=1, inplace = True)

In [7]:
# 컬럼명 rename
data.rename(columns={'대여소\n번호':'대여소번호',
                     '보관소(대여소)명':'보관소',
                     '소재지(위치)':'소재지',
                     'Unnamed: 3':'주소',
                     'Unnamed: 4':'위도',
                     'Unnamed: 5':'경도'},inplace=True)

In [8]:
data

       대여소번호                보관소  ...         위도          경도
0        NaN                NaN  ...        NaN         NaN
1        NaN                NaN  ...         위도          경도
2        NaN                NaN  ...        NaN         NaN
3        NaN                NaN  ...        NaN         NaN
4      301.0        경복궁역 7번출구 앞  ...  37.575794  126.971451
...      ...                ...  ...        ...         ...
2156  1089.0  고덕 래미안힐스테이트(201동)  ...  37.560600  127.146698
2157  1090.0        상일동역 2번출구 앞  ...  37.556789  127.166145
2158     NaN                NaN  ...        NaN         NaN
2159     NaN                NaN  ...        NaN         NaN
2160     NaN                NaN  ...        NaN         NaN

[2161 rows x 6 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소번호   2154 non-null   float64
 1   보관소     2154 non-null   object
 2   소재지     2155 non-null   object
 3   주소      2155 non-null   object
 4   위도      2043 non-null   object
 5   경도      2043 non-null   object
dtypes: float64(1), object(5)
memory usage: 101.4+ KB

In [10]:
data.isnull().sum()

대여소번호      7
보관소        7
소재지        6
주소         6
위도       118
경도       118
dtype: int64

In [11]:
# 1. 결측치 제거 - 모든 행 데이터가 결측치인 경우의 데이터 제거
data.dropna(inplace=True)

In [12]:
data.isnull().sum()

대여소번호    0
보관소      0
소재지      0
주소       0
위도       0
경도       0
dtype: int64

대여소 번호를 기준으로 결합하려면?

-> 임의로 새로운 data 생성 

-> merge 함수로 ["대여번호"] 기준으로 저장.
    
-> 즉, 기존 데이터 + 새로운 데이터

In [37]:
data["대여소번호"] = data["대여소번호"].astype(int)

In [44]:
# column 이름과 설정한 행의 value 값을 바꾼 새로운 데이터 생성 
data_new = data[["대여소번호","소재지"]] 
# 원하는 column 값 가져오는 거 그만 좀 헷갈리기!
data_new.loc[4:10,"대여소번호"]=200
data_new

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

      대여소번호  소재지
4       200  종로구
5       200  종로구
6       200  종로구
7       200  종로구
8       200  종로구
...     ...  ...
2153   1085  강동구
2154   1086  강동구
2155   1088  강동구
2156   1089  강동구
2157   1090  강동구

[2042 rows x 2 columns]

In [45]:
result = pd.merge(data,data_new, on="대여소번호")
result

      대여소번호                보관소 소재지_x  ...         위도          경도 소재지_y
0       308          광화문 S타워 앞   종로구  ...  37.569969  126.973938   종로구
1       309        광화문역 6번출구 옆   종로구  ...  37.569889  126.976456   종로구
2       314            국립현대미술관   종로구  ...  37.579708  126.980858   종로구
3       316         종각역 1번출구 앞   종로구  ...  37.570396  126.981789   종로구
4       326         안국역 5번출구 앞   종로구  ...  37.576241  126.986160   종로구
...     ...                ...   ...  ...        ...         ...   ...
2037   1085       래미안 솔베뉴(고덕로)   강동구  ...  37.554569  127.145874   강동구
2038   1086      래미안 솔베뉴(구천면로)   강동구  ...  37.550598  127.145454   강동구
2039   1088          풍납사거리(강동)   강동구  ...  37.528122  127.119522   강동구
2040   1089  고덕 래미안힐스테이트(201동)   강동구  ...  37.560600  127.146698   강동구
2041   1090        상일동역 2번출구 앞   강동구  ...  37.556789  127.166145   강동구

[2042 rows x 7 columns]

In [43]:
data["대여소번호"].value_counts()

2041    1
1140    1
1108    1
1110    1
1112    1
       ..
2530    1
483     1
2532    1
485     1
2057    1
Name: 대여소번호, Length: 2042, dtype: int64

In [46]:
result["대여소번호"].value_counts()
# 데이터 결합후 '200' 으로 변경한 데이터 값까지 포함된 것을 볼 수 있다.

200     8
2041    1
1140    1
1108    1
1110    1
       ..
485     1
2534    1
487     1
2536    1
2057    1
Name: 대여소번호, Length: 2035, dtype: int64