#1. Pandas 의 자료구조 : Series

In [ ]:
import pandas as pd

print(pd.__version__)

year = ['2019', '2020', '2021', '2022'] # 문자열 형태
result = pd.Series(data= year) #Series 대문자 잊지 않기

print()

print(type(result))
print(result) # 따로 index를 저장하지 않는 경우 - 0부터 시작됨

print()

# Series 객체의 주요 속성
print(result.index)
print(result.values)
print(result.dtype) # 문자열은 object 로 출력 
print(result.shape) # 행-세로 열-가로 
print()

# Series 객체 이름 지정
result.name ='year' # Series 객체(data)의 이름
result.index.name = 'No' # Series 객체의 인덱스의 이름
print(result)
print()

#인덱스 추가하여 Series 객체 생성하기 
year = ['2019', '2020', '2021', '2022']
idx = ['a', 'b', 'c', 'd']
result = pd.Series(data=year, index = idx, name = 'year')
print(result) 
print()

# 딕셔너리 데이터로 Series 객체 생성하기
score = {'Kim':85, 'Han':89, 'Lee':99, 'Choi':70}
result = pd.Series(data = score , name = 'score') # index 따로 지정 안함 - 정수 0부터 순서대로 출력
print(result)

1.1.5

<class 'pandas.core.series.Series'>
0    2019
1    2020
2    2021
3    2022
dtype: object

RangeIndex(start=0, stop=4, step=1)
['2019' '2020' '2021' '2022']
object
(4,)

No
0    2019
1    2020
2    2021
3    2022
Name: year, dtype: object

a    2019
b    2020
c    2021
d    2022
Name: year, dtype: object

Kim     85
Han     89
Lee     99
Choi    70
Name: score, dtype: int64

In [ ]:
year = ['2018','2019','2020','2021']
result = pd.Series(data = year)

#2. Pandas 의 자료구조 : DataFrame

In [ ]:
import pandas as pd

# DataFrame 생성하기
score ={'name':['kim','lee','park','cho'],
         'score':[100, 43,22,11],
         'grade':['A','A','B','C']}

dp = pd.DataFrame(data = score)
print(type(dp))
print(dp)
print()

# DataFrame 주요 속성
print(dp.index)  # 행의 역할 
print(dp.columns) # 열의 역할
print(dp.values) 

#DataFrame 주요 속성 
print(dp.dtypes)
print(dp.shape) # 행,열 -> index, columns
print()

# DataFrame 생성하기
score = {'name': ['Jessi', 'Emma', 'Alex', 'Tom'],
         'score': [100, 95, 80, 85],
         'grade': ['A', 'A', 'B', 'B']}     
i = ['a', 'b', 'c', 'd']
c = ['score', 'grade', 'name', 'email']
        
dp = pd.DataFrame(data = score, index = i , columns= c)
print(dp)
print()

<class 'pandas.core.frame.DataFrame'>
   name  score grade
0   kim    100     A
1   lee     43     A
2  park     22     B
3   cho     11     C

RangeIndex(start=0, stop=4, step=1)
Index(['name', 'score', 'grade'], dtype='object')
[['kim' 100 'A']
 ['lee' 43 'A']
 ['park' 22 'B']
 ['cho' 11 'C']]
name     object
score     int64
grade    object
dtype: object
(4, 3)

   score grade   name email
a    100     A  Jessi   NaN
b     95     A   Emma   NaN
c     80     B   Alex   NaN
d     85     B    Tom   NaN

#3. DataFrame 살펴보기

In [ ]:
import pandas as pd

#실습 데이터 생성
score =  {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data = score)
print(score_df)


# info 함수- 가장 많이 사용되는 함수 
print(score_df.info()) # data의 여러가지 정보를 알려주는 함수로
# 이때 entries 의 수를 가장 많이 본다 - 많은 양의 데이터 수를  한번에 모두 알아볼 수 없기때문에

print()

# head 함수  - 첫번째 행부터 출력하고자 하는 행의 개수 
print(score_df.head(3))

# tail 함수 - 마지막 행부터 출력하고자 하는 행의 개수 
print(score_df.tail(2))

print()

# sample 함수 - random 으로 한가지의 행을 출력하는 함수 즉, 예시를 뽑는 함수
print("random:",score_df.sample())

# sample 함수 + random_state(n) - n에 임의의 정수를 넣으면 랜던값이 고정되게 출력
print("항상 고정 random 값:", score_df.sample(2, random_state=10)) # 임의로 10이라고 고정 

# flac 함수 : 임의의 행데이터 n 개를 램던으로 반환하는 함수 - sample 함수
#           : 이때 frac = n 에 임의의 [0~1] 사이의 값을 대입하면 총 데이터 값에서 비율만큼 출력
#           ex> data = 5 개 에서 n=0.5(50%) 라면 2개만  랜덤으로 행 출력 
#           ex> n=0.2 라면 5개중에 20% 이므로 1개만 랜덤으로 행 출력 

print("비율로 출력:", score_df.sample(frac = 0.2))

    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   score    5 non-null      int64
 2   grade    5 non-null      object
 3   subject  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
    name  score grade subject
3  Jessi     85     B       c
4    Tom     97     A    java

random:    name  score grade subject
1  Emma     95     A    java
항상 고정 random 값:     name  score grade subject
2   Alex     80     B  python
3  Jessi     85     B       c
비율로 출력:     name  score grade subject
3  Jessi     85     B       c

#4. 수치형과 범주형 데이터

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'age': [20, 24, 23, 20, 27],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)

# 실습 데이터에서 name, grade, subject - 범주형
# age , score - 수치형

# describe()- 수치형, 범주형 모두 사용 가능한 함수 
# 여러가지의 수치형 데이터의 수치값들을 표현해주는 함수 
print(score_df.describe())

# describ - 데이터 2개 이상 출력 할 때 -[[]] 를 사용 - 무저권!
print(score_df[['grade','subject']].describe()) 
# 1.count - 각 데이터에 있는 데이터의 개수 
# 2. unique - 각 데이터에 있는 데이터 종류의 수
# 3. top- 제일 많은 종류의 데이터
#4. freq - top 데이터의 개수 

print()

# describe(include= 'all') 함수 
# 범주형, 수치형 가리지 않고 출력 - 각자 계산이 안되는 부분은 NaN 으로 출력
print(score_df.describe(include='all'))

print("--------",score_df.count())

print()

#unique() 함수 - data 의 종류를 출력 
print(score_df['subject'].unique())

print()
# value_counts 함수 - data 종류의 값을 세는 함수
print(score_df['subject'].value_counts()) # count's' 를 자꾸 빼먹음 주의

print()
# value_counts(normalize = True ) 함수 사용법 
# 데이터의 빈도수를 확률로 나타냄 , 모든 data 의 비율의 합 = 1
print(score_df['subject'].value_counts(normalize = True))

    name  age  score grade subject
0  Jessi   20    100     A  python
1   Emma   24     95     A    java
2   Alex   23     80     B  python
3  Jessi   20     85     B       c
4    Tom   27     97     A    java
             age       score
count   5.000000    5.000000
mean   22.800000   91.400000
std     2.949576    8.502941
min    20.000000   80.000000
25%    20.000000   85.000000
50%    23.000000   95.000000
75%    24.000000   97.000000
max    27.000000  100.000000
       grade subject
count      5       5
unique     2       3
top        A  python
freq       3       2

         name        age       score grade subject
count       5   5.000000    5.000000     5       5
unique      4        NaN         NaN     2       3
top     Jessi        NaN         NaN     A  python
freq        2        NaN         NaN     3       2
mean      NaN  22.800000   91.400000   NaN     NaN
std       NaN   2.949576    8.502941   NaN     NaN
min       NaN  20.000000   80.000000   NaN     NaN
25%       NaN  20.000000   85.000000   NaN     NaN
50%       NaN  23.000000   95.000000   NaN     NaN
75%       NaN  24.000000   97.000000   NaN     NaN
max       NaN  27.000000  100.000000   NaN     NaN
-------- name       5
age        5
score      5
grade      5
subject    5
dtype: int64

['python' 'java' 'c']

python    2
java      2
c         1
Name: subject, dtype: int64

python    0.4
java      0.4
c         0.2
Name: subject, dtype: float64

#5. 데이터 조회 및 변경

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']

df = pd.DataFrame(data=score, columns=c)
print(df)

# 인덱싱기법 -[]
print(df['name']) #[]을 사용할때에는 '' 을 꼭 사용 
# 점연산자 기법 -.
print(df.name)  # 연산자기법을 사용할때는 '' 사용 안함

# 타입 출력하여 확인
print(type(df.name)) 

print()

# 다중 열 데이터 조회 실습 
# 데이터 2개 이상이면 [[]] 기법을 사용해야 하는데 
# 첫번째 []- 인덱싱 기법이고 두번째 []는 list를쓴것
print(df[['name','score','grade']])

print()

# 열 데이터 값 변환 -인덱싱 기법 사용
df['etc'] = 0
print(df)

# loc 이용하여 행 데이터 조회 실습
print("ex:",df.loc[3]) #n -> 조회하고자 하는 행의 인텍스 값 

# loc 를 이용한 다중 데이터 조회 ->다중이기에 [[]] 사용 
print(df.loc[[2,3]]) 


# loc 를 이용한 특정 행 데이터 변경
# df.loc[0] = ['a','b','c'] - 이때 리스트 안에 원래 데이터와 맞지 않으면 error 발생
df.loc[0] = ['Jessi', 'java', 70, 'C', 1] # 알맞은 데이터 값을 넣어줘야 올바르게 변경됨
print(df) 

print()

#loc 를 이용한 행과 열 동시에 지정하여 원하는 값d
row_idx = [1,2,4]
col_idx = ['name', 'subject', 'grade']
print(df.loc[row_idx,col_idx])

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object
<class 'pandas.core.series.Series'>

    name  score grade
0  Jessi    100     A
1   Emma     95     A
2   Alex     80     B
3  Jessi     85     B
4    Tom     97     A

    name subject  score grade  etc
0  Jessi  python    100     A    0
1   Emma    java     95     A    0
2   Alex  python     80     B    0
3  Jessi       c     85     B    0
4    Tom    java     97     A    0
ex: name       Jessi
subject        c
score         85
grade          B
etc            0
Name: 3, dtype: object
    name subject  score grade  etc
2   Alex  python     80     B    0
3  Jessi       c     85     B    0
    name subject  score grade  etc
0  Jessi    java     70     C    1
1   Emma    java     95     A    0
2   Alex  python     80     B    0
3  Jessi       c     85     B    0
4    Tom    java     97     A    0

   name subject grade
1  Emma    java     A
2  Alex  python     B
4   Tom    java     A

#6. 데이터 추가 및 삭제

In [1]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']
df = pd.DataFrame(data=score, columns=c)
print(df)


# 새로운 colmns 와 내용 추가 - 열 추가 
semester_data = pd.Series(['20-01', '20-01', '20-02', '20-01'])
df['semester'] = semester_data
print(df)

print()

# 비교 연산자를 이용한 새 columns 추가 
# 연산자를 사용했을 때의 결과값은 true , false 로 나뉜다.  
df['high_score'] = df['score'] > 90 
print(df)

print()

# 새로운 행 추가 - loc 사용
df.loc[6] = ['Jina', 'python', 100, 'A', 1, '20-02', True]
print(df)
print()

# drop() 를 이용한 행 삭제 함수 
df.drop(6)
print(df) # 삭제된 상태의 원본데이터를 뽑게되면 수정되지 않도록 나옴
          # pandas 도 numpy 와 마찬가지로 원본데이터는 바뀌지않으며
          # 새로운 변수를 생성해서 대입후 그 데이터를 출력해야 바뀐 데이터값을 볼 수 있다.

print()

# inplace 를 이용해 원본도 삭제하는 방법
df.drop(6, inplace= True)
print(df)

print()

# drop() 을 이용하여 원하는 열삭제 & 원본데이터 삭제 하는 방법 
#  행 삭제는 그냥 drop() 호출하면 끝
#  열은 columns=[] 을 호출해야함
df.drop(columns = ['etc'], inplace= True)
print(df)

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN
    name subject  score grade  etc semester
0  Jessi  python    100     A  NaN    20-01
1   Emma    java     95     A  NaN    20-01
2   Alex  python     80     B  NaN    20-02
3  Jessi       c     85     B  NaN    20-01
4    Tom    java     97     A  NaN      NaN

    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True

    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True
6   Jina  python    100     A    1    20-02        True

    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True
6   Jina  python    100     A    1    20-02        True

    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True

    name subject  score grade semester  high_score
0  Jessi  python    100     A    20-01        True
1   Emma    java     95     A    20-01        True
2   Alex  python     80     B    20-02       False
3  Jessi       c     85     B    20-01       False
4    Tom    java     97     A      NaN        True